{% extends 'awwwards/base.html' %}


{% block content %}
<div class="landing-page" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),url(https://unsplash.com/photos/EJMTKCZ00I0/download?force=true&w=640);height:100vh;background-size:cover;background-position:center">
    <h5 class="text-white ml-5 pt-5">Site of the day October 22,2020</h5>
    <div class="text-white text-center pt-5">
        <h1 class="pt-5">Portfolio</h1>
        <h2 class="pt-2">Design by Thomas from Kenya with 7.5</h2>
        <div class="pt-5 mt-5">
            <a href="https://tomito26.github.io/portfolio/" class="btn btn-outline-light">visit the site</a>
        </div>
    </div>
</div>
<div class="container-fluid pb-5">
    <h2 class="pt-5 text-center">Rate  Projects</h2>
    <div class="row pt-5">
        {% for project_item in projects %}
            <div class="col-sm-6 col-md-4 p-3">
                <div class="card">
                    <a href="{% url 'project-detail' project_item.id %}"><img src="{{project_item.project_image.url}}" alt="" class="img-fluid"></a>
                    <div class="card-body">
                        <h4 class="card-text">{{project_item.title}}</h4>
                        <div class="d-flex justify-content-between">
                            <p>From {{project_item.country}}</p>
                            <p class="ml-5 pl-5">{{project_item.date_posted|date:"d F Y"}}</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex">
                            <img src="{{project_item.author.profile.image.url}}" alt="" class="img-fluid rounded-circle ml-3"
                                style="height:50px;width:50px">
                            <a href="{% url 'user-projects' project_item.author.username %}"><small class="ml-3 pt-3">By {{project_item.author}}</small></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}