
{% load bootstrap4 %}
<footer class="container-fluid bg-info d-flex flex-column ">
<div class="container ">
    <div class="row">
       <div class="col-md-4 pt-5 ml-5 ">
        <p>The awards for design, creativity and innovation on the Internet</p>
        <p>follow us on </p>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
       </div>
        <div class="col-md-3 pt-5">
            <ul style="list-style: none;">
                <li>Home</li>
                <li>Rate projects</li>
                <li>Register</li>
                <li>Submit projects for Rate</li>
            </ul>
            <div class="mt-5 pb-5">
                &copy; Copyright 2020
            </div>
        </div>
        <div class="col-md-3 pt-5">
           <p>Contact us on</p>
            <i class="fas fa-envelope-square"></i>
        </div>
    </div>
</div>
</footer>


