{% extends 'registration/base.html' %}


{% block content %}
<div class="landing-page" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);height:80vh;background-size:cover;background-position:center">
    <h5 class="text-white ml-5 pt-5">Site of the day October 22,2020</h5>
    <div class="text-white text-center pt-5">
        <h1 class="pt-5">Portfolio</h1>
        <p class="">Design by Thomas from Kenya with 7.5</p>
        <a href="https://tomito26.github.io/portfolio/" class="btn btn-outline-light">visit the site</a>
    </div>
</div>

{% endblock %}