{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container pb-5">
    <div class="row pt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="d-flex">
                <img src="{{user.profile.image.url}}" alt="" class="img-fluid rounded-circle" style="height: 100px;width:100px">
                <div class="media-body pt-3">
                    <h2 class="account-heading ml-3">{{user.username}}</h2>
                    <p class="ml-3">{{user.email}}</p>
                    <p>{{user.profile.bio}}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{u_form|crispy}}
                    {{p_form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark" type="submit">Update</button>
                </div>
            </form>
            
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}